body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:host {
  background: transparent !important;
}

.custom-ion-content {
  --background: #ffffff !important;
}

.euiComment .euiCommentTimeline {
  display: none !important;
}

.euiTab.euiTab-isSelected::after {
  background-color: rgb(0, 168, 163) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.euiCommentEvent--regular .euiCommentEvent__header {
  background: none !important;
}

.euiCommentEvent--regular {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.14) !important;
}

ion-item {
  --inner-padding-bottom: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-top: 0;
}

figure {
  margin: 0em 0px !important;
}

b {
  background: #ffffff !important;
}

.euiTab {
  font-size: 0.875rem !important;
  color: rgb(37, 41, 53) !important;
  font-weight: 600 !important;
}

.sun {
  background-color: #ff8c1a;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  left: 8%;
  top: 100%;
  box-shadow: 0px 0px 20px 5px #ff8c1a;
  animation: sunset 3s forwards;
}

.sky {
  background-color: #ccccff;
  margin: 0;
  animation: sky 2s 0.2s forwards;
  animation-delay: 1.2s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

@keyframes sky {
  0% {
    background-color: #ccccff;
  }
  65% {
    background-color: #fbd38d;
  }
  100% {
    background-color: #fbd38d;
  }
}

@keyframes sunset {
  100% {
    transform: translateY(-135px);
  }
}

.euiAccordion__padding--l {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.euiStepHorizontal,
.euiStepHorizontal-isSelected:focus {
  outline: none !important;
}

.euiCard--hasChildren .euiCard__description {
  margin-bottom: 4px !important;
}

.numericInput {
  color: transparent;
  text-shadow: 0 0 0 black;
}

.numericInput:focus {
  outline: none;
}

.euiPanel {
  border: none !important;
}

.euiHeaderSectionItem__button:hover {
  background: transparent !important;
}

.euiHeaderSectionItem:after {
  background: transparent !important;
}
.euiHeaderSectionItem__button {
  outline: none !important;
  outline-color: #cbd5e0 !important;
}
.euiHeaderSectionItem__button:focus {
  background: transparent !important;
}

.euiFormControlLayoutCustomIcon__icon {
  color: rgb(0, 0, 0, 0.5) !important;
}

@media only screen and (max-width: 574px) {
  .euiHeaderSectionItem,
  .euiHeaderSectionItem__button {
    min-width: 40px !important;
  }
  .euiNotificationBadge {
    top: 8% !important;
    right: 0 !important;
    font-size: 11px !important;
    line-height: 17px !important;
    /* height: 16px !important; */

    min-width: 18px !important;
    min-height: 18px !important;
  }
}

@media only screen and (min-width: 574px) {
  .euiNotificationBadge {
    top: 8% !important;
    right: 0 !important;
    font-size: 11px !important;
    line-height: 17px !important;
    /* height: 16px !important; */
    min-width: 18px !important;
    min-height: 18px !important;
  }
  .sky {
    background-size: 355px;
  }
}

@media only screen and (max-width: 574px) {
  .euiHeaderSectionItemButton__notification--badge {
    width: initial !important;
    height: initial !important;

    /* min-width: 0; */
    border-radius: 8px;
    color: white !important;
    overflow: hidden;
  }
}

.euiHeaderSection--left:last-child {
  height: 65px !important;
}

:root {
  --ion-color-primary: #008480;
  --ion-color-primary-rgb: rgb(0, 168, 163);
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #005a00;
  --ion-color-primary-tint: #1a751a;
  --ion-color-dark: #4a4a4a;
  --ion-color-medium: #252935;
  --ion-color-light: rgb(0, 168, 163);
}

#rounded {
  width: 100%;
  height: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#container {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

.carousel-caption h1 {
  color: #fff;
  font-size: 2.25rem;
}

.carousel a {
  margin: 0 auto;
}

@media only screen and (max-width: 1436px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .card-head,
  .card-cont {
    padding-left: 0;
    padding-right: 0;
  }
  .sun {
    height: 35px;
    width: 35px;
    left: 4%;
    top: 93%;
  }
  .sky {
    background-size: 355px;
    /* background-position: 100% -120% !important; */
  }
}

.pagination {
  margin-left: auto;
  margin-right: auto;
}

.my-custom-class {
  --background: rgb(0, 0, 0, 0.4);
  --spinner-color: #fff;
  --backdrop-opacity: 0;

  color: #fff;
}

.euiCard,
.euiCard__image {
  border-radius: 0px !important;
}

@media only screen and (min-width: 1200px) {
  .carousel-item {
    margin-top: 10px;
    border-radius: 20px;
  }

  #cart {
    margin-left: 20.55rem;
  }
  .carousel {
    height: 385px;
  }
}

@media only screen and (min-width: 1200px) {
  .sun {
    height: 50px;
    width: 50px;
  }
}
.card {
  border-radius: 0.5rem;
}

ion-input {
  --padding-start: 1rem !important;
  --background: #f5f5f5 !important;
  --padding-top: 0.75rem !important;
  --padding-bottom: 0.75rem !important;
  border-radius: 0.25rem;
}

.euiFieldText:focus {
  background-image: linear-gradient(
    to top,
    #319795,
    #319795 2px,
    transparent 2px,
    transparent 100%
  ) !important;
}

.euiFormControlLayout--group .euiText {
  background-color: #ffffff !important;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.euiFieldNumber--inGroup {
  background: #eeeeee !important;
}
/* .euiRadio .euiRadio__input + .euiRadio__circle {
  display: none !important;
}
.euiRadio .euiRadio__input ~ .euiRadio__label {
  padding-left: 0px !important;
}

.euiRadioGroup__item + .euiRadioGroup__item {
  margin-top: 0px !important;
} */

.ion-content {
  max-width: 75rem;
}

.carousel-item {
  transition-duration: 1.6 ease-in-out;
}

.carousel-image-one {
  background: #252935;
}

.carousel-image-two {
  background: rgba(246, 108, 61);
}

.carousel-image-three {
  background: rgb(216, 57, 75);
}

.container {
  max-width: 75rem !important;
}

@media (min-width: 575px) {
  table {
    display: inline-table !important;
  }
  .flexCard {
    min-width: 200px;
  }
  thead tr:not(:first-child) {
    display: none;
  }
}

@media (max-width: 400px) {
  .hero-img {
    margin-right: 15vw;
  }
}

.euiNotificationBadge {
  border-radius: 99999rem !important;
  font-weight: bold !important;
  background: rgb(227, 69, 42) !important;
}

#count-notify {
  border: 1px solid white;
}

.euiKeyPadMenuItem:focus {
  outline: none;
}

td,
th {
  border: 1px solid transparent !important;
}

table {
  border-spacing: 0 !important;
}
th,
td {
  border: 1px solid #000;
  padding: 2px !important;
}
/* the first 'th' within the first 'tr' of the 'thead': */
thead tr:first-child th:first-child {
  border-radius: 0.6em 0 0 0 !important;
}
/* the last 'th' within the first 'tr' of the 'thead': */
thead tr:first-child th:last-child {
  border-radius: 0 0.6em 0 0 !important;
}
/* the first 'td' within the last 'tr' of the 'tbody': */
tbody tr:last-child td:first-child {
  border-radius: 0 0 0 0.6em !important;
}
/* the last 'td' within the last 'tr' of the 'tbody': */
tbody tr:last-child td:last-child {
  border-radius: 0 0 0.6em 0 !important;
}

@media (min-width: 765px) {
  .euiTableRowCell,
  .euiTableRowCellCheckbox {
    border-top: 1px solid #eeeeee !important;
    border-bottom: 1px solid #eeeeee !important;
  }
}

.euiCheckbox .euiCheckbox__input:checked + .euiCheckbox__square {
  border-width: 2px !important;
  border-color: #319795 !important;
  background-color: #ffffff !important;
  background-image: url("data:image/svg+xml,%3Csvg class='tw-w-6 tw-h-6' fill='%23319795' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E") !important;
}

.euiCheckbox .euiCheckbox__input + .euiCheckbox__square {
  padding: 8px !important;
}

@media (min-width: 992px) {
  .euiHeader {
    height: 6.05rem !important;
  }
}

.euiHeader {
  box-shadow: none !important;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1) !important;
}

@media (max-width: 992px) {
  .carousel-indicators {
    bottom: -38px !important;
  }
  .sky {
    background-size: 295px;
    background-position: 100% -120% !important;
  }

  .sun {
    height: 30px;
    width: 30px;
    left: 4%;
    top: 93%;
  }
}

.euiIcon--accent {
  color: #e7664c !important;
}

.euiIcon--xxLarge {
  width: 300px !important;
  height: 300px !important;
}

.euiHeaderSectionItem {
  justify-content: center !important;
}

.euiCard__content .euiCard__description {
  margin-top: 0px !important;
}

.euiCard__top + .euiCard__content {
  margin-top: 4px !important;
}

.euiFieldSearch:focus {
  background-image: linear-gradient(
    to top,
    #319795,
    #319795 2px,
    transparent 2px,
    transparent 100%
  ) !important;
}

@media (max-width: 576px) {
  th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
  }
  .euiTable {
    background: none !important;
  }
}

.flexCard {
  max-width: 50%;
}

@media (max-width: 767px) {
  .flexCard {
    max-width: 50% !important;
    padding: 0.5rem;
  }

  .euiBottomBar.euiBottomBar--paddingMedium {
    padding-top: 5px !important;
    padding-bottom: 0px !important;
  }
}
.page-item.active .page-link {
  background-color: gray;
  border-color: gray;
}

.page-link {
  color: black;
}

@media only screen and (max-width: 574px) {
  .euiTable.euiTable--responsive .euiTableRow {
    border: 1px solid #fff !important;
  }
}
.euiTable.euiTable--responsive .euiTableRow:hover {
  background-color: none;
}

/* @media (max-width: 499px) {
  .flexCard {
    max-width: 100% !important;
  }
} */

td:not(:last-child) {
  border-bottom: 0;
}

.euiOverlayMask {
  background: rgba(0, 0, 0, 0.5) !important;
}
.euiFieldSearch {
  height: 36.5px !important;
}

.category-slider::-webkit-scrollbar {
  display: none;
}

.euiTabs:not(.euiTabs--condensed)::before {
  background-color: #ffffff !important;
}
/**
 * carousel control style
 */

.carousel-control-prev,
.carousel-control-next {
  top: inherit;
  width: 12px;
  bottom: 2px;
}

.carousel-control-prev {
  left: 38vw;
  z-index: 100;
}

.carousel-control-next {
  right: 38vw;
  z-index: 100;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'%3E%3Ctitle%3EChevron Back%3C/title%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='48' d='M328 112L184 256l144 144'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'%3E%3Ctitle%3EChevron Forward%3C/title%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='48' d='M184 112l144 144-144 144'/%3E%3C/svg%3E");
}

.carousel-caption {
  left: 4vw;
  text-align: center;
  max-width: 525px;
  right: auto;
  padding: 5px;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: 0.6s;
  transition-property: opacity;
}

.carousel-inner .item {
  height: 450px;
  background-image: url(//placehold.it/600x200/69c/def/?text=first);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 52%;
  background-color: rgba(51, 51, 51, 0.34);
  background-blend-mode: multiply;
}
.carousel-inner .item:nth-child(2) {
  background-image: url(//placehold.it/600x200/9c6/efd/?text=second);
}
.carousel-inner .item:nth-child(3) {
  background-image: url(//placehold.it/600x200/c69/fde/?text=third);
}
.carousel-inner .item:nth-child(4) {
  background-image: url(//placehold.it/600x200/96c/edf/?text=fourth);
}

.carousel-inner .item h1 {
  color: white;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;

  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
}
.carousel-inner .item:nth-child(4) h1 {
  text-decoration: underline;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}

.carousel-indicators {
  bottom: -2px;
}

.carousel-indicators li {
  background-color: gray;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

.alert {
  margin-bottom: 0px;
}

.sr-only {
  margin-right: 30rem;
}

label {
  width: 100%;
  font-size: 1rem;
}

.euiCommentEvent--regular {
  border: none !important;
}

.euiCommentEvent__header {
  border-bottom: 1px solid #e0e0e0 !important;
}

.card-input-element + .card {
  height: calc(36px + 2 * 1rem);
  color: #495057;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid transparent;
  border-radius: 4px;
}

.card-input-element + .card:hover {
  cursor: pointer;
}

.card-input-element:checked + .card {
  border-color: #00848035;
  box-shadow: 0 0 10px #00848064;
  -webkit-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
}

.card-input-element:checked + .card::after {
  content: "‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎";
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg height='275' width='275' fill='%2348bb78' viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
  position: absolute;
  top: 0;
  left: 0;
  color: #afb8ea;
  font-family: "Material Icons";
  font-size: 24px;
  -webkit-animation-name: fadeInCheckbox;
  animation-name: fadeInCheckbox;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* {
  background-color: #38b2ac !important;
} */

.euiStepsHorizontal {
  background: transparent !important;
}

.euiStepHorizontal-isComplete > .euiStepNumber {
  background-color: #38b2ac !important;
}

.euiStepHorizontal-isSelected > .euiStepNumber {
  background-color: #38b2ac !important;
}
.euiStepHorizontal-isComplete::before,
.euiStepHorizontal-isComplete::after,
.euiStepHorizontal-isSelected::before {
  height: 2px;
  background-color: #38b2ac !important;
}
@-webkit-keyframes fadeInCheckbox {
  from {
    opacity: 0;
    -webkit-transform: rotateZ(-20deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
  }
}

@keyframes fadeInCheckbox {
  from {
    opacity: 0;
    transform: rotateZ(-20deg);
  }
  to {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}

.copyright {
  padding: 28px 0;
  margin-top: 55px;
  background-color: #202020;
}
.copyright span,
.copyright a {
  color: #878787;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.copyright a:hover {
  color: #007bff;
}

.copyright-menu ul {
  text-align: right;
  margin: 0;
}

.copyright-menu li {
  display: inline-block;
  padding-left: 20px;
}

.back-to-top {
  position: relative;
  z-index: 2;
}
.back-to-top .btn-dark {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #2e2e2e;
  border-color: #2e2e2e;
  display: none;
  z-index: 999;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.back-to-top .btn-dark:hover {
  cursor: pointer;
  background: #fa6742;
  border-color: #fa6742;
}
